{% extends "layout.html" %}

{% block content %}
<div>
	make a search bar for searching books
</div>
<div>
	<form method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add New Book</legend>
				<div class="form-group">
					{{ form.title.label(class="form-control-label")}}
					{% if form.title.errors %}
						{{ form.title(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor%}
						</div>
					{% else%}
						{{ form.title(class="form-control form-control-lg")}}
					{% endif%}
					
				</div>
				<div class="form-group">
					{{ form.age.label(class="form-control-label")}}
					{% if form.age.errors %}
						{{ form.age(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.age.errors %}
								<span>{{ error }}</span>
							{% endfor%}
					age_group					{% else%}
						{{ form.age(class="form-control form-control-lg")}}
					{% endif%}
				</div>
				<div class="form-group">
					{{ form.age_group.label(class="form-control-label")}}
					{% if form.age_group.errors %}
						{{ form.age_group(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.age_group.errors %}
								<span>{{ error }}</span>
							{% endfor%}
						</div>
					{% else%}
						{{ form.age_group(class="form-control form-control-lg")}}
					{% endif%}
				</div>
				<div class="form-group">
					{{ form.copies.label(class="form-control-label")}}
					{% if form.copies.errors %}
						{{ form.copies(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.copies.errors %}
								<span>{{ error }}</span>
							{% endfor%}
						</div>
					{% else%}
						{{ form.copies(class="form-control form-control-lg")}}
					{% endif%}
				</div>
				<div class="form-group">
					{{ form.category.label(class="form-control-label")}}
					{% if form.category.errors %}
						{{ form.category(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.category.errors %}
								<span>{{ error }}</span>
							{% endfor%}
						</div>
					{% else%}
						{{ form.category(class="form-control form-control-lg")}}
					{% endif%}
				</div>
				<div class="form-group">
					{{ form.notes.label(class="form-control-label")}}
					{% if form.notes.errors %}
						{{ form.notes(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.notes.errors %}
								<span>{{ error }}</span>
							{% endfor%}
						</div>
					{% else%}
						{{ form.notes(class="form-control form-control-lg")}}
					{% endif%}
				</div>
				<div class="form-group">
					{{ form.brought_by.label(class="form-control-label")}}
					{% if form.brought_by.errors %}
						{{ form.brought_by(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.brought_by.errors %}
								<span>{{ error }}</span>
							{% endfor%}
						</div>
					{% else%}
						{{ form.brought_by(class="form-control form-control-lg")}}
					{% endif%}
				</div>
			</fieldset>
			<div>
				{{ form.submit(class="btn btn-outline-info")}}
			</div>
	</form>
</div>

{% endblock content %}